{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product List</title>
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidenav.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="sidenav">
            <a href="{% url 'inventory:index' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
            
            <button class="dropdown-btn">Product
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{% url 'inventory:add_product' %}">New Product</a>
                <a href="{% url 'inventory:product' %}">List</a>
            </div>

            <a href="{% url 'inventory:app_form' %}">Application Form</a>

            <a href="{% url 'inventory:receiver' %}">Receiver</a>

            <button class="dropdown-btn">Suppliers
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="{% url 'inventory:add_supplier' %}">New Supplier</a>
                <a href="{% url 'inventory:supplier' %}">List</a>
            </div>

            <a href="#">About</a>
        </div>

        <div class="main">
            <br>
            <h2>Product List</h2>
            
            <a href="{% url 'inventory:add_product' %}" style="float: right;" class="btn btn-success">Add New Stock</a>

            <br><br>

            <table class="table table-css table-bordered table-hover">
                <thead class="thead-dark align-middle">
                    <tr>
                        <th class="align-middle" width="10%">Product ID</th>
                        <th class="align-middle" width="20%">Product Name</th>
                        <th class="align-middle" width="15%">Supplier</th>
                        <th class="align-middle" width="10%">Quantity</th>
                        <th class="align-middle" width="10%">Price</th>
                        <th class="align-middle" width="20%">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for data in allproduct %}
                    <tr>
                        <td class="align-middle">{{data.productid}}</td>
                        <td class="align-middle">{{data.productname}}</td>
                        <td class="align-middle">{{data.supplier}}</td>
                        <td class="align-middle">{{data.productqty}}</td>
                        <td class="align-middle">{{data.productprice}}</td>
                        <td class="align-middle">
                            <a href="edit_product/{{data.productid}}" class="btn btn-success">Edit Details</a>
                            <a href="delete_product/{{data.productid}}" class="btn btn-danger">Delete Stock</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <script src="{% static 'js/sidenav.js' %}"></script>
    </body>
</html>